th {
  text-align: center;
  width: 300px;
}
#sesion {
  margin: auto;
  width: 300px;
  margin-top: 3em;
}
#img-sesion {
  height: 10em;
  border-radius: 50%;
  margin: auto;
}
.img-pelota {
  background: url("../components/img/pelota2.png") no-repeat;
  width: 5px;
  height: 5px;
}
.btn-verde {
  color: white;
  background: #8ac125;
  border: solid 1px #8ac125;
  transition: background 150ms;
}
.btn-verde:hover {
  color: white;
  background: #7bab21;
  border: solid 1px #7bab21;

  transition: background 150ms;
  transition: color 150ms;
}
.footer {
  background-color: black;
  color: #8ac125;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.errores {
  color: red;
}
.dashboard {
  overflow: hidden;
  margin-top: 150px;
  margin-bottom: 100px;
}
.alert {
  color: red;
}
.btn-us {
  text-align: center;
  color: darkgray;
}
.navbar-torneo {
  margin-left: 160;
  padding: 9px;
  margin-bottom: 30px;
  border-bottom: 1px solid #8ac125;
}
.navbar {
  background-color: #8ac125;
  color: black !important;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.nav-link {
  margin-right: 25px;
}
.torneos {
  margin-top: 58px;
}
.sidenav {
  margin-top: 100px;
  height: 70%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 3px solid #8ac125;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 0px 8px 0px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: black;
}
.sidenav li {
  padding: 0px;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.typeUser {
  color: black;
}

.usuario {
  color: #f1f1f1;
}
.sidenav .nav-item {
  padding-top: 50px;
}
.aux-nav {
  text-decoration: none;
  color: #8ac125;
  transition: background 150ms;
  border-radius: 20px;
  padding: 10px;
}
.aux-nav:active {
  border-bottom: 1px solid #8ac125;
  background: #8ac125;
  color: white;
}

.aux-nav:hover {
  margin-bottom: 500px;

  background: #8ac125;
  color: white;

  transition: background 150ms;
  transition: color 150ms;
  text-decoration: none;
}

.container-app {
  margin-left: 160px;
}
.container {
  padding: 10px;
}
.grupo {
  margin: 10px 10px 10px 10px;
}
.grupos {
  padding: 10px;
}
.comenzado {
  color: #8ac125;
  text-decoration: none;
}
.no-comenzado {
  color: #818181;
}
/* .link-button {
  margin-top: 5px;
  padding: 5px;
  color: white;
  background: #8ac125;
  border: #8ac125 1px solid;
  border-radius: 20px;
  text-decoration: none;
  transition: background 150ms;
} */
.avanzar-ronda {
  padding: 5px;
  color: #8ac125;
  border: #8ac125 1px solid;
  border-radius: 20px;
  text-decoration: none;
  transition: background 150ms;
}
.avanzar-ronda:hover {
  text-decoration: none;
  background: #8ac125;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}
.link-button {
  margin-top: 5px;
  padding: 5px;
  color: #8ac125;
  border: #8ac125 1px solid;
  border-radius: 20px;
  text-decoration: none;
  transition: background 150ms;
}
/* .link-button:hover {
  text-decoration: none;
  background: #7bab21;
  color: black;
  transition: background 150ms;
  transition: color 150ms;
} */
.link-button:hover {
  text-decoration: none;
  background: #8ac125;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}

.resultado-button {
  margin-top: 50px;
  padding: 3px;
  color: #8ac125;
  border: #8ac125 1px solid;
  border-radius: 20px;
  text-decoration: none;
  transition: background 150ms;
}

.resultado-button:hover {
  text-decoration: none;
  background: #8ac125;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}
.td-link {
  text-align: center;
  width: 200px;
}

.td-pareja {
  text-align: left;
  width: 300px;
}
.link-parejas {
  margin-top: 100px;
  padding: 5px;
  color: #8ac125;
  border: #8ac125 1px solid;
  border-radius: 20px;
  text-decoration: none;
  transition: background 150ms;
}
.link-parejas:hover {
  text-decoration: none;
  background: #8ac125;
  color: black;
  transition: background 150ms;
  transition: color 150ms;
}
.t-comenzado-link {
  padding: 5px;
  color: #8ac125;
  border: #8ac125 1px solid;
  border-radius: 20px;
  transition: background 150ms;
}
.t-comenzado-link:hover {
  text-decoration: none;
  background: #8ac125;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}

.t-nocomenzado-link {
  padding: 5px;
  color: #818181;
  border: #818181 1px solid;
  border-radius: 20px;
  transition: background 150ms;
}

.t-nocomenzado-link:hover {
  text-decoration: none;
  background: #818181;
  color: black;
  transition: background 150ms;
  transition: color 150ms;
}

.table {
  text-align: center;
  border-spacing: 2px;
}
