#sesion {
  margin: auto;
  width: 300px;
  margin-top: 3em;
}
#img-sesion {
  height: 10em;
  border-radius: 50%;
  margin: auto;
}

.alert {
  color: red;
}
.btn-us {
  text-align: center;
  color: darkgray;
}
.navbar-torneo {
  margin-left: 160;
}
.navbar {
  z-index: 999;
}

.torneos {
  margin-top: 58px;
}
.sidenav {
  margin-top: 50px;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgrey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.typeUser {
  color: white;
}

.usuario {
  color: #f1f1f1;
}
.sidenav .nav-item {
  padding-top: 50px;
}

.container-app {
  margin-left: 160px;
}
.link-button {
  margin-top: 10px;
  padding: 5px;
  color: #17a2b8;
  border: #17a2b8 1px solid;
  border-radius: 20px;
  text-decoration: none;
  transition: background 150ms;
}
.link-button:hover {
  text-decoration: none;
  background: #17a2b8;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}
.t-comenzado-link {
  padding: 5px;
  color: #17a2b8;
  border: #17a2b8 1px solid;
  border-radius: 20px;
  transition: background 150ms;
}
.t-comenzado-link:hover {
  text-decoration: none;
  background: #17a2b8;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}

.t-nocomenzado-link {
  padding: 5px;
  color: #17a2b8;
  border: #17a2b8 1px solid;
  border-radius: 20px;
  transition: background 150ms;
}

.t-nocomenzado-link:hover {
  text-decoration: none;
  background: #17a2b8;
  color: white;
  transition: background 150ms;
  transition: color 150ms;
}

.table {
  text-align: center;
}
